.contenedor {
    background-color: chartreuse;
    border: 2px solid #ff0000;
    height: 760px;
}

.cabecera {
    background-color: cadetblue;
    height: 15%;

}

.menu {
    background-color: coral;
    height: 10%;
}

.izquierda {
    width: 25%;
    float: left;
    background-color: bisque;

}

.derecha {
    width: 75%;
    float: right;
    background-color: peru;
}

.pie {
    height: 15%;
    background-color: tomato;

}