/* @import url(resethard.css); */

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, form, fieldset {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    line-height: 100%;
}

ol {
    margin-left: 1.4em;
    list-style: decimal;
}

ul {
    margin-left: 1.4em;
    list-style: circle;
}